 .explore {
    position:relative;
    z-index: 1;
top: -23px;
justify-content: center;
align-items: center;

}

.banner{
      height: 83%;
}

.catcard{
justify-content: center;
align-items: center;
margin-left: 11%;
  width: 80%;
}


@media screen and (max-width: 2560px) {
  
 
.catext{
  position: relative;
  top: -190px;
  z-index: 1;
}
.catcard{
margin-top: -150px;
margin-left: 2%;
  width: 95%;
  

}
.crdimg{
width:85% ;
margin-left: 9.5%;

}

.propcard{
  height: 40%;
}
.services{
  position: relative;
  top: 25px;
  z-index: 1;
  padding: 1%;
  margin-top: 5%;
  margin-bottom: 10%;
}
#about{
  position: relative;
  top: 1px;
  z-index: 1;
  padding: 1%;
    margin-top: 5%;
}

}


@media screen and (max-width: 1024px) {
 
.catext{
  position: relative;
  top: -70px;
  z-index: 1;
  margin-left: 10%;
  width: 80%;
}
.catcard{
   position: relative;
top: 80px;
margin-left: 2.8%;
  width: 95%;
  margin-bottom: 5%;

}
.crdimg{
width:85% ;
margin-left: 9.5%;

}

.propcard{
  height: 40%;
}
.services{
  position: relative;
  top: 20px;
  width: 80%;
  margin-left: 10.3%;
  z-index: 1;
  padding: 1%;
  margin-top: 5%;
  margin-bottom: 10%;
}

#about{
  position: relative;
  top: 70px;
  z-index: 1;
  padding: 1%;
    margin-top: 5%;
}

}



@media screen and (max-width: 425px) {

.catext{
  position: relative;
  top: 0px;
  margin-left: 10.3%;
  width: 80%;
}
.catcard{
   position: relative;
top: 140px;
margin-left: 2.8%;
  width: 95%;
  margin-bottom: 5%;

}
.crdimg{
width:85% ;
margin-left: 8%;

}

.propcard{
  height: 40%;
}
.services{
  position: relative;
  top: 20px;
  width: 80%;
  margin-left: 10.3%;
  z-index: 1;
  padding: 1%;
  margin-top: 5%;
  margin-bottom: 10%;
}
.services p{
 
  margin-top: 3%;
  padding: 1%;
}
#about{
  position: relative;
  top: 100px;
  z-index: 1;
  padding: 1%;
    margin-top: 10%;
}
}





